<div class="slider-desktop desktop">
    <img src="../../../../assets/images/home_v2.png" alt="Cavalum" title="Cavalum" />
  </div>
  <div class="slider-mobile mobile">
    <div class="slider-mobile__overlay"></div>
    <div class="slider-mobile__intro">
      <div class="slider-mobile__image">
        <img src="../../../assets/images/logo.png" alt="Cavalum" title="Cavalum" />
      </div>
      <div class="slider-mobile__buttons">
        <button mat-button class="button primary get-started" (click)="scrollToEmitter()">Avançar</button>
      </div>
    </div>
</div>
