@import "../../../styles/abstracts/_variables";

#news-wrapper {
  text-align: center;

  .news {

    &__title {
      padding: $gap 0;
    }

    &__subtitle {
      padding: 0 $gap_sides $gap;
    }

    &__content {
      background-color: $black;
      padding: $gap;
      color: #FFFFFF;
      text-align: left;
    }
  }
}
