<div class="container page-content">
  <div id="contact">
    <div class="page-header">
      <div class="page-header__title">
        <h1>Contato</h1>
      </div>
      <div class="page-header__subtitle">
        <p>
          Para solicitações de tours ou quaisquer dúvidas, preencha o formulário abaixo.
        </p>
      </div>
    </div>
    <div class="contact__content">
      <div class="row">
        <div class="col-md-7">
          <div class="contact__form">
            <form method="POST">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Nome">
              </div>
              <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
              </div>
              <div class="form-group">
                <label for="subject">Assunto</label>
                <input type="email" class="form-control" id="subject" name="subject" placeholder="Assunto">
              </div>
              <div class="form-group">
                <label for="message">Mensagem</label>
                <textarea class="form-control" id="message" name="message" rows="3" placeholder="Mensagem" rows="5" col="5"></textarea>
              </div>
              <div class="form-group">
                <app-button [class]="'secondary-white'" [description]="'Enviar'" />
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-5">
          <div class="contact__info">
            <div class="contact__info-item">
              <span class="material-symbols-outlined">
                location_on
              </span>
              Cavalum Trails
            </div>
            <div class="contact__info-item">
              <span class="material-symbols-outlined">
                mail
              </span
              >cavalumtrails@gmail.com
            </div>
            <div class="contact__info-item">
              <span class="material-symbols-outlined">
                call
              </span>
              +351 912 345 678
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
