<div class="container page-content">
  <div id="contact">
    <div class="page-header">
      <div class="page-header__title">
        <h1>Contato</h1>
      </div>
      <div class="page-header__subtitle">
        <p>
          Para solicitações de tours ou quaisquer dúvidas, preencha o formulário abaixo.
        </p>
      </div>
    </div>
    <div class="contact__content">
      <div class="row">
        <div class="col-md-7">
          <div class="contact__form">
            <form [formGroup]="contactForm" method="POST">
              <div *ngIf="!contactForm.valid && contactForm.touched" class="alert alert-danger">
                <p>Corriga os erros no formulário!</p>
              </div>
              <div *ngFor="let error of errors$|async; index as i" class="alert alert-danger">
                  <p>{{ error.message }}</p>
              </div>
              <div *ngIf="sentForm$ | async" class="alert alert-success">
                  <p>Formulário submetido com successo!</p>
              </div>
              <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput id="name" name="name" formControlName="name" />
                <div *ngIf="contactForm.value.name.touched && contactForm.value.name.errors?.required">
                    <mat-error>O nome é um campo <strong>obrigatório</strong>!</mat-error>
                </div>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>E-mail</mat-label>
                <input matInput id="email" name="email" formControlName="email" />
                <div *ngIf="contactForm.value.email.touched && contactForm.value.email.errors?.required">
                    <mat-error>O email é um campo <strong>obrigatório</strong>!</mat-error>
                </div>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Assunto</mat-label>
                <input matInput id="subject" name="subject" formControlName="subject" />
                <div *ngIf="contactForm.value.subject.touched && contactForm.value.subject.errors?.required">
                    <mat-error>O assunto é um campo <strong>obrigatório</strong>!</mat-error>
                </div>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Mensagem</mat-label>
                <textarea matInput id="message" name="message" rows="3" rows="5" col="5" formControlName="message"></textarea>
                <div *ngIf="contactForm.value.message.touched && contactForm.value.message.errors?.required">
                    <mat-error>A messagem é um campo <strong>obrigatório</strong>!</mat-error>
                </div>
              </mat-form-field>
              <div>
                <button mat-flat-button (click)="onSubmit()">Submeter</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-5">
          <div class="contact__info">
            <div class="contact__info-item">
              <span class="material-symbols-outlined">
                location_on
              </span>
              Cavalum Trails
            </div>
            <div class="contact__info-item">
              <span class="material-symbols-outlined">
                mail
              </span>
              cavalumtrails&#64;gmail.com
            </div>
            <div class="contact__info-item">
              <span class="material-symbols-outlined">
                call
              </span>
              +351 912 345 678
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
