.basic-button.mat-mdc-button:not(:disabled) {
    color: $green;
}

.button {
    padding: 10px 30px !important;
    font-size: 14px !important;
    text-align: center !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border-radius: 0px !important;
}

.primary,
.primary-black {
    background-color: $white !important;
    color: $black !important;
    border: 1px solid $black !important;
    transition: all 0.5s ease !important;
}

.secondary {
    background-color: $green !important;
    color: $black !important;
    border: 1px solid $green !important;
    transition: all 0.5s ease !important;
}

.secondary-white {
    background-color: $green !important;
    color: $white !important;
    border: 1px solid $white !important;
    transition: all 0.5s ease !important;
}

.primary:hover {
    background-color: transparent !important;
    border: 1px solid $white !important;
    color: $white !important;
    transition: all 0.5s ease !important;
}

.primary-black:hover {
    background-color: $black !important;
    border: 1px solid $black !important;
    color: $white !important;
    transition: all 0.5s ease !important;
}

.secondary:hover,
.secondary-white:hover {
    background-color: $dark_green !important;
    transition: all 0.5s ease !important;
}

.get-started {
  background-color: rgba(255, 255, 255, 0.3) !important;
  color: $white !important;
  border: 0 !important;
}

.button-back {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, .6);
  display: inline-block;
  padding: 5px 25px;
  text-align: center;
  color: $white;
  cursor: pointer;

  span {
    font-size: 15px !important;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .button {
    padding: 15px 50px !important;
    border-radius: 50px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .button {
    padding: 15px 50px !important;
    border-radius: 50px !important;
  }
}
