.card {
    margin-bottom: 10px;

    &__title {
        font-size: 14px !important;
    }

    &__subtitle {
        font-size: 12px !important;
    }

    &__description {
        padding-top: 10px !important;

        p {
            font-size: 13px !important;
        }
    }

    &__image {
        width: auto;
        height: 200px;
        object-fit: cover;
    }

    &__actions {
        padding: 15px !important;
    }
}