ul, p, ol {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  p {
    font-size: 13px !important;
  }
  
  a {
    text-decoration: none !important;
    color: #FFFFFF;
  }
  
  h1 {
    font-size: 55px !important;
    font-weight: 700 !important;
  }
  
  h2 {
    font-size: 40px !important;
  }
  
  h3 {
    font-size: 23px !important;
    font-weight: 100 !important;
  }
  
  h4 {
    font-size: 24px !important;
  }
  
  h5 {
    font-size: 20px !important;
  }

  small {
    font-size: 12px !important;
  }

  .tag {
    font-size: 11px !important;
    background-color: $green !important;
    color: $white !important;
  }
  