.content {
    padding-bottom: $sector_separator_padding;
}

.page-content {
  padding-top: $sector_separator_padding_max;
}

.page-trail-detail-content {
  padding-top: calc($sector_separator_padding_max* 2);
}
  
.page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: $sector_separator_padding;

  &__title {
    padding-bottom: $gap;
    text-align: center;
  }

  &__subtitle {
    width: 40%;
    text-align: center;

    &--about {

      p {
        padding-bottom: 10px !important;
        font-size: 15px !important; 
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .content {
    padding-bottom: 20px;
  }

  .page-content { 
    padding-top: 50px;
  }

  .page-header {
    padding-bottom: 30px;

    &__title {
      padding: 50px 0 20px;
      text-align: center;
    }

    &__subtitle {
      width: 90%;
    }
  }

  .page-trail-detail-content {
    padding-top: 50px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .content {
    padding-bottom: 20px;
  }

  .page-content { 
    padding-top: 50px;
  }

  .page-header {
    padding-bottom: 30px;

    &__title {
      padding: 50px 0 20px;
      text-align: center;
    }

    &__subtitle {
      width: 90%;
    }
  }

  .page-trail-detail-content {
    padding-top: 50px;
  }
}
