<app-slider>
  <div id='slider-buttons'>
    <app-button
      [type]="'link'"
      [class]="'button primary'"
      [link]="'https://www.google.pt'"
      [change_page]="'_blank'"
      [description]="'Saiba mais'"
    />
  </div>
</app-slider>
<div class="container">
  <section id="home-our-actions">
    <div class="our-actions-wrapper">
      <div class="row">
        <div class="col-md-5 our-actions-image">
          <img src="/assets/images/img1.jpg" alt="Imagem grupo" title="Imagem grupo" />
        </div>
        <div class="col-md-7 our-actions">
          <div class="our-actions__title">
            <h2>Nossas ações</h2>
          </div>
          <div class="our-actions__list">
            <ul>
              <li class="action-item">
                <div class="action-info">
                  <h3>Meio dia na neve</h3>
                  <p>Oferecido diariamente</p>
                  <p>80€</p>
                </div>
                <div class="action-link">
                  <app-button
                    [type]="'link'"
                    [class]="'button secondary'"
                    [link]="'https://www.google.com'"
                    [change_page]="'_blank'"
                    [description]="'Agendar agora'"
                  />
                </div>
              </li>
              <li class="action-item">
                <div class="action-info">
                  <h3>Meio dia na neve</h3>
                  <p>Oferecido diariamente</p>
                  <p>80€</p>
                </div>
                <div class="action-link">
                  <app-button
                    [type]="'link'"
                    [class]="'button secondary'"
                    [link]="'https://www.google.com'"
                    [change_page]="'_blank'"
                    [description]="'Agendar agora'"
                  />
                </div>
              </li>
              <li class="action-item">
                <div class="action-info">
                  <h3>Meio dia na neve</h3>
                  <p>Oferecido diariamente</p>
                  <p>80€</p>
                </div>
                <div class="action-link">
                  <app-button
                    [type]="'link'"
                    [class]="'button secondary'"
                    [link]="'https://www.google.com'"
                    [change_page]="'_blank'"
                    [description]="'Agendar agora'"
                  />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="home-know-more">
    <div class="know-more-wrapper">
      <h1>Fique por dentro</h1>
      <p class="subtitle">
        Mantenha-se atualizado sobre as últimas notícias e informações sobre o meio ambiente e a sustentabilidade. Clique aqui para ler mais.
      </p>
      <div class="know-more__topics">
        <ul>
          <li>
            <div class="know-more__icon">
              <app-man-walking-svg [size]="'75px'" />
            </div>
            Participe
          </li>
          <li>
            <div class="know-more__icon">
              <app-svg-medical-case [size]="'100px'" />
            </div>
            Contribua
          </li>
          <li>
            <div class="know-more__icon">
              <app-svg-man-child [size]="'100px'" />
            </div>
            Transforme
          </li>
          <li>
            <div class="know-more__icon">
              <app-svg-map [size]="'100px'" />
            </div>
            Seja a mudança
          </li>
        </ul>
      </div>
      <app-button
        [type]="'link'"
        [class]="'button primary-black'"
        [link]="'https://www.google.pt'"
        [change_page]="'_blank'"
        [description]="'Saiba como'"
      />
    </div>
  </section>
</div>
<section id="home-testimonials">
  <div class="home-testimonials__background">
    <div class="container">
      <app-testimonial [testimonials]="testimonials" />
    </div>
  </div>
</section>
<section id="home-news">
  <div class="container">
    <app-news />
  </div>
</section>
