<main class="container page-content">
  <div class="store-list">
    <div class="page-header">
      <div class="page-header__title">
        <h1>Produtos</h1>
      </div>
      <div class="page-header__subtitle">
        <p>
          Sou um parágrafo. Aqui você pode adicionar seu texto.
          É fácil, basta clicar em "Editar texto" ou clicar duas vezes sobre mim para editar o conteúdo, a fonte e mais.
        </p>
      </div>
    </div>
    <div class="store-list__items-wrapper">
      <div class="row">
        <div class="col-md-4">
          <app-product-card />
        </div>
        <div class="col-md-4">
          <app-product-card />
        </div>
        <div class="col-md-4">
          <app-product-card />
        </div>
        <div class="col-md-4">
          <app-product-card />
        </div>
        <div class="col-md-4">
          <app-product-card />
        </div>
      </div>
    </div>
  </div>
</main>
