/* ======== Colors ======== */

$white : #FFFFFF;
$black : #1C1C1C;
$green : #097D3E;
$grey: #F7F7F7;

$dark_green: #167E0E;

/* ======== Paddings ======== */

$sector_separator_padding: 120px;
$sector_separator_padding_max: 200px;

/* ======== Spacings ======== */

$gap : 50px;
$gap_sides : 100px;
$gap_sides_max: 200px;
$gap_sides_imageviewer: 60px;

$gallery_spacing: 30px;
$form_spacing: 30px;
