<main class="container page-content">
  <div class="content">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <div class="news-detail">
          <div class="news-detail__back button-icon" routerLink="/news">
            <span class="material-symbols-outlined">
              arrow_back_ios
            </span> 
            Voltar
          </div>
          <div class="news-detail__slider">
            <div class="news-detail__slider__main-image">
              <img [src]="currentImage" alt="" title="" />
            </div>
            <!-- <div class="news-detail__slider__other-images">
              <ul>
                <li *ngFor="let image of sliderImages" [ngClass]="{ 'selected': image.name === currentImage }">
                  <img
                    src="../../../../assets/images/news/{{ image.name }}"
                    (click)="changeImage(image.name)"
                    alt=""
                    title=""
                    onkeydown=""
                  />
                </li>
              </ul>
            </div> -->
          </div>
          <div class="news-detail__title">
            <h2>{{ newsDetail.title }}</h2>
            <small>{{ newsDetail.date }}</small>
          </div>
          <div class="news-detail__subtitle">
            {{ newsDetail.subtitle }}
          </div>
          <div class="news-detail__description" [innerHTML]="newsDetail.description"></div>
          <div class="news-detail__share">
            <h3>Partilhar</h3>
            <ul>
              <li>
                <a href="#">
                  <img src="../../../../assets/images/news_instagram.png" alt="Instagram" title="Instagram" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../../../assets/images/news_facebook.png" alt="Facebook" title="Facebook" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="other-news">
          <aside>
            <div class="other-news__title">
              <h3>Publicações recentes</h3>
            </div>
            <ul *ngIf="lastNews">
              <li class="other-news__item" *ngFor="let new of lastNews|async">
                <a routerLink="/news/{{ new.id }}" (click)="onChangeNews(new.id)">
                  <div class="row">
                    <div class="col-sm-12 col-md-2">
                      <div class="other-news__item__image">
                        <img src="../../../../assets/images/news/news_{{ new.id }}.jpg" alt="{{ new.title }}" title="{{ new.title }}" />
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-10">
                      <div class="other-news__item__title">
                        <h6>{{ new.title }}</h6>
                        <small>{{ new.date }}</small>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>
</main>
