@import '../../../styles/abstracts/_variables';

.news-detail {
  padding: 0 60px;

  &__back {
    position: absolute;
    z-index: 10;
    margin: 10px;
  }

  &__slider {
    padding-bottom: 30px;

    &__main-image {
      width: 100%;
      position: relative;
      padding-bottom: 10px;

      img {
        width: 100%;
      }
    }

    &__other-images {
      width: 100%;
      position: relative;

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 5px;

        li {
          width: 70px;
          height: 70px;
          opacity: 0.5;

          img {
            width: 100%;
            height: 100%;
          }
        }

        li:hover {
          opacity: 1;
          cursor: pointer;
        }

        li.selected {
          opacity: 1;
        }
      }
    }
  }

  &__subtitle {
    padding-bottom: 20px;
    text-align: justify;
  }

  &__description {
    padding-bottom: 20px;
    text-align: justify;
    color: #757575;
  }

  &__share {

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      gap: 10px;

      li {

        a {

          img {
            width: 20px;
            height: auto;
          }
        }
      }
    }
  }
}

.other-news {

  &__title {
    padding-bottom: 10px;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .other-news__item {

      a {
        color: $black;

        .other-news__item__image {
          width: 100%;

          img {
            height: 50px;
            width: 50px;
          }
        }
      }
    }
  }
}
