<app-modal-bg *ngIf="is_modal_open" />
<div class="container page-content">
  <div class="trails">
    <div class="page-header">
      <div class="page-header__title">
        <h1>Nossos trilhos</h1>
      </div>
      <div class="page-header__subtitle">
        <p>
          Aqui podes encontrar os diferentes percursos pedestres que fomos criando com as nossas
        </p>
      </div>
    </div>
    <div class="trails__content">
      <div class="row">
        <div class="col-lg-4" *ngFor="let trail of trails | async">
          <mat-card class="card" appearance="outlined">
            <mat-card-header class="card__header">
              <mat-card-title class="card__title">{{ trail.title }}</mat-card-title>
            </mat-card-header>
            <img *ngIf="trail.image" mat-card-image [src]="trail.image" [alt]="trail.title">
            <mat-card-content class="card__description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </mat-card-content>
            <mat-card-actions class="card__actions">
              <a routerLink="{{ trail.id }}" mat-button class="button primary-black">Ver mais</a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
