<app-modal-bg *ngIf="is_modal_open" />
<div class="container page-content">
  <div id="trails">
    <div class="page-header">
      <div class="page-header__title">
        <h1>Nossos trilhos</h1>
      </div>
      <div class="page-header__subtitle">
        <p>
          Aqui podes encontrar os diferentes percursos pedestres que fomos criando com as nossas
        </p>
      </div>
    </div>
    <div class="trails__content">
      <div class="row">
        <div class="col-md-6">
          <app-card
            [title]="'Meio dia na neve'"
            [image]="'../../../assets/images/gallery/img1.jpg'"
            [link]="'/trails/10'"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </app-card>
        </div>
        <div class="col-md-6">
          <app-card
            [title]="'Dia inteiro na neve'"
            [image]="'../../../assets/images/gallery/img2.JPG'"
          >
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </app-card>
        </div>
        <div class="col-md-6">
          <app-card
            [title]="'Caminhada de inverno'"
            [image]="'../../../assets/images/gallery/img3.JPG'"
          >
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </app-card>
        </div>
        <div class="col-md-6">
          <app-card
            [title]="'Tour ski'"
            [image]="'../../../assets/images/gallery/img5.jpg'"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </app-card>
        </div>
      </div>
    </div>
  </div>
</div>
