@import '../../styles/abstracts/_variables';

#slider-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slider-mobile {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url('../../../assets/images/about.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, .3);
  }

  &__intro {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
  }

  &__image {
    width: 50%;

    img {
      width: 100%;
    }
  }
}

#home-our-actions {
  margin-top: -100px;

  .our-actions-wrapper {
    background-color: $black;
    margin-bottom: 10px;

    .our-actions-image {
      overflow: hidden;

      img {
        width: auto;
        height: 100%;
      }
    }

    .our-actions {
      color: $white;
      padding: 50px 100px;
      margin-left: -12px;

      &__title {
        padding-bottom: 30px;
      }

      &__list {

        ul {
          list-style-type: none;

          li.action-item {
            display: flex;
            flex-direction: row;
            gap: $gap;
            padding-bottom: $gap;

            .action-info {
              width: 100%;

              p {
                font-size: 13px;
                padding-bottom: 12px;
              }
            }

            .action-link {
              padding-top: 22px;
              width: 100%;
              display: flex;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}

#home-know-more {
  margin-top: $sector_separator_padding;

  .know-more-wrapper {
    text-align: center;

    p.subtitle {
      padding: $gap $gap_sides_max;
    }

    .know-more {

      &__topics {
        padding: 0 $gap_sides_max $gap;

        ul {
          list-style-type: none;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          text-align: center;
        }
      }
    }
  }
}

#home-testimonials {
  background-color: $white;
  padding: $sector_separator_padding 0 0;

  h1 {
    text-align: center;
    padding-bottom: 40px;
    color: $white;
  }

  .background {
    background-image: url('../../../assets/images/home_background.JPG');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px;
  }

  .avatar {
    width: 40px;
    height: 40px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50px;
    }
  }
}

#home-news {
  padding: $sector_separator_padding 0;

  .home-news {
    text-align: center;

    &__title {
      padding: $gap 0;
    }

    &__subtitle {
      padding: 0 $gap_sides $gap;
    }

    &__content {
      padding: $gap;
      color: #FFFFFF;
      text-align: left;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #home-our-actions {
    margin-top: 0;

    .our-actions-wrapper {
      background-color: #33691E;
      margin-top: 0;
      padding: 20px 10px;

      .our-actions {
        padding: 10px !important;
        margin: 0 !important;

        &__title {
          color: $white !important;
          text-align: center;
        }

        &__list {

          ul {

            li.action-item {
              background-color: rgba(0, 0, 0, .6);
              box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
              margin-bottom: 10px;
              border-radius: 15px;
              padding: 10px 20px !important;
              flex-direction: column !important;
              gap: 10px !important;

              .action-link {
                justify-content: flex-start;
              }
            }
          }
        }
      }
    }
  }

  .know-more-wrapper {

    h1 {
      padding: 0 40px !important;
    }

    .subtitle {
      padding: 20px 40px 0 !important;
    }

    .know-more {

      &__topics {
        padding: 0 0 30px !important;

        ul {
          flex-direction: column !important;
        }
      }
    }
  }

  #home-testimonials {

    .testimonial {
      margin-bottom: 10px;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  #home-our-actions {
    margin-top: 0;

    .our-actions-wrapper {
      background-color: #33691E;
      margin-top: 0;
      padding: 20px 10px;

      .our-actions {
        padding: 10px !important;
        margin: 0 !important;

        &__title {
          color: $white !important;
          text-align: center;
        }

        &__list {

          ul {

            li.action-item {
              background-color: rgba(0, 0, 0, .6);
              box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
              margin-bottom: 10px;
              border-radius: 15px;
              padding: 10px 20px !important;
              flex-direction: column !important;
              gap: 10px !important;

              .action-link {
                justify-content: flex-start;
              }
            }
          }
        }
      }
    }
  }

  .know-more-wrapper {

    h1 {
      padding: 0 40px !important;
    }

    .subtitle {
      padding: 20px 40px 0 !important;
    }

    .know-more {

      &__topics {
        padding: 0 0 30px !important;

        ul {
          flex-direction: column !important;
        }
      }
    }
  }

  #home-testimonials {

    .testimonial {
      margin-bottom: 10px;
    }
  }
}
