@import '../../../styles/abstracts/_variables';

.page-trail-detail-content {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $green;
}

.trail-detail {

    h3 {
        color: $white;
    }

    &__back {
        margin-bottom: 20px;
        margin-left: 10px;
    }

    &__title {
        color: $white;
    }

    &__details {
        padding-bottom: 10px;
    }

    &__info {
        margin-bottom: 20px;
        background-color: $green;
        border-radius: 50px;
        padding: 2px 30px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-bottom: 0;
        margin-top: 10px;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: space-between;

            li {
               padding: 10px;
               color: $white;
            }
        }
    }

    &__information {
        background-color: $white;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 2px;
        font-size: 13px;
    }

    &__image-map {
        width: 100%;
        padding-bottom: 30px;
        text-align: center;

        img {
            width: 50%;
        }
    }

    &__description {
        padding: 20px;
        margin-bottom: 40px;

        h3 {
            padding-bottom: 10px;
        }
    }

    &__tags {
        padding: 20px 20px 50px;
    }

    &__other-trails {
        padding: 20px;
    }

    &__reviews {
        background-color: $white;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        gap: 100px;
        padding: 20px;
    }

    &__stars {
        width: 15%;

        ul {
            list-style-type: none;

            li {
                display: flex;
                flex-direction: row;
                gap: 1px;

                small {
                    width: 100%;
                }

                .progress-bar {
                    padding-top: 15px;
                }
            }
        }
    }

    &__average {
        h1 {
            line-height: 50px;
        }
    }

    &__comment-search {
        background-color: $white;
        padding: 0 20px;
    }

    &__comments {
        background-color: $white;
        padding: 0 20px 20px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .trail-detail {
        padding: 0;

        &__title {
            text-align: center;
            padding-bottom: 20px;
        }

        &__details {
            padding-bottom: 0;
        }

        &__info { 
            margin-bottom: 0;
            border-radius: 0;
            padding: 2px 15px;

            ul {
                display: flex;
                flex-direction: column;
                gap: 5px;

                li {
                    font-size: 13px;
                    padding: 5px;
                }
            }
        }

        &__tags {
            padding: 0 20px 20px;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {

}
