@import '../../../styles/abstracts/_variables';

.button {
  padding: 10px 30px;
  font-size: 14px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.primary,
.primary-black {
  background-color: $white;
  color: $black;
  border: 1px solid $black;
  transition: all 0.5s ease;
}

.secondary {
  background-color: $green;
  color: $black;
  border: 1px solid $black;
  transition: all 0.5s ease;
}

.secondary-white {
  background-color: $green;
  color: $white;
  border: 1px solid $white;
  transition: all 0.5s ease;
}

.primary:hover {
  background-color: transparent;
  border: 1px solid $white;
  color: $white;
  transition: all 0.5s ease;
}

.primary-black:hover {
  background-color: $black;
  border: 1px solid $black;
  color: $white;
  transition: all 0.5s ease;
}

.secondary:hover,
.secondary-white:hover {
  background-color: $dark_green;
  transition: all 0.5s ease;
}
