<div id="footer-wrapper">
  <div class="row">
    <div class="col-md-6 footer__logo">
      <img src="/assets/images/logo.png" alt="" title="" />
      <div class="footer__politics">
        <ul>
          <li>Política de Privacidade</li>
          <li>Política de Cookies</li>
          <li>Termos e Condições</li>
        </ul>
      </div>
      <div class="footer__copyright">
        &copy; 2024 Cavalum Trails <br> Made with love just for you
      </div>
    </div>
    <div class="col-md-6 footer__links">

    </div>
  </div>
</div>
