<div id="footer-wrapper">
  <div class="footer__social">
    <ul>
      <li>
        <a href="#">
          <img src="/assets/images/facebook-icon.png" alt="Facebook" title="Facebook" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/images/instagram-icon.png" alt="Instragram" title="Instragram" />
        </a>
      </li>
    </ul>
  </div>
  <div class="footer__links">
    <ul>
      <li>
        <a href="#">Política de Privacidade</a>
      </li>
      <li>
        <a href="#">Política de Cookies</a>
      </li>
      <li>
        <a href="#">Termos e Condições</a>
      </li>
    </ul>
  </div>
  <div class="footer__copyright">
    &copy; 2024 Cavalum | Made with ❤ just for you
  </div>
  <div class="footer__gogreen">
    <img src="/assets/images/gogreen.png" alt="Go Green" title="Go Green" />
  </div>
</div>
