/* ======== Colors ======== */

$white : #FFFFFF;
$black : #1C1C1C;
$green : #14A808;

$dark_green: #167E0E;

/* ======== Paddings ======== */

$sector_separator_padding: 120px;


/* ======== Spacings ======== */

$gap : 50px;
$gap_sides : 100px;
$gap_sides_max: 200px;
