<div id="testimonials-wrapper">
  <div class="row">
    <div class="col-md-7">
      <div class="testimonial__text-wrapper">
        <div class="testimonial__title">
          <h1>Nossos voluntários</h1>
        </div>
        <div class="testimonial__items">
          <div
            id="testimonial_{{ testimonial.id }}"
            *ngFor="let testimonial of testimonials; index as i;"
            class="testimonial__item"
            [ngClass]="active_testimonial === testimonial.id ? 'active' : ''"
          >
            <div class="testimonial__description">
              <blockquote>"{{ testimonial.text }}"</blockquote>
            </div>
            <div class="testimonial__author">
              {{ testimonial.author }}
            </div>
          </div>
        </div>
        <div class="testimonial__bullets">
          <ol>
            <li
              *ngFor="let testimonial of testimonials; index as i;"
              (click)="onChangeTestimonialHandler(testimonial.id)"
              [ngClass]="active_testimonial === testimonial.id ? 'active' : ''">
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-md-5 testimonial__image">
      <img src="/assets/images/testimonial.jpg" alt="" title="" />
    </div>
  </div>
</div>
