<div 
  class="tab-bar-wrapper desktop"
  #stickyMenu
  [ngClass] = "{ 'sticky' : sticky || !isHome }"
>
  <div class="row">
    <div class="col-3 tab-bar__logo">
      <div class="logo-wrapper">
        <a routerLink="/">
          <img
            src="/assets/images/logo_black.png"
            alt="Logo"
            title="Logo"
            class="logo"
          />
        </a>
      </div>
    </div>
    <div class="col-9 tab-bar__menu">
      <nav>
        <ul>
          <li>
            <a
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >Home
            </a>
          </li>
          <li>
            <a
              routerLink="/about"
              routerLinkActive="active"
            >
              Sobre
            </a>
          </li>
          <li>
            <a
              routerLink="/trails"
              routerLinkActive="active"
            >
              Trilhos
            </a>
          </li>
          <li>
            <a
              routerLink="/news"
              routerLinkActive="active"
            >
              Noticias
            </a>
          </li>
          <li>
            <a
              routerLink="/contact"
              routerLinkActive="active"
            >
              Contato
            </a>
          </li>
          <li>
            <a
              routerLink="/become-member"
              routerLinkActive="active"
            >
              Tornar-se sócio
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="tab-bar-wrapper mobile">
  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home"></mat-icon>
        </a>
      </li>
      <li>
        <a
          routerLink="/about"
          routerLinkActive="active"
        >
          <mat-icon aria-hidden="false" aria-label="Handshake icon" fontIcon="handshake"></mat-icon>
        </a>
      </li>
      <li>
        <a
          routerLink="/trails"
          routerLinkActive="active"
        >
          <mat-icon aria-hidden="false" aria-label="Trails icon" fontIcon="hiking"></mat-icon>
        </a>
      </li>
      <li>
        <a
          routerLink="/news"
          routerLinkActive="active"
        >
          <mat-icon aria-hidden="false" aria-label="News icon" fontIcon="newspaper"></mat-icon>
        </a>
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="active"
        >
          <mat-icon aria-hidden="false" aria-label="Contact icon" fontIcon="call"></mat-icon>
        </a>
      </li>
      <li>
        <a
          routerLink="/become-member"
          routerLinkActive="active"
        >
          <mat-icon aria-hidden="false" aria-label="Member icon" fontIcon="person"></mat-icon>
        </a>
      </li>
    </ul>
  </nav>
</div>
