<div id="tab-bar-wrapper">
  <div class="row">
    <div class="col-6 tab-bar__logo ">
      <div class="logo-wrapper">
        <img src="/assets/images/logo.png" alt="Logo" title="Logo" class="logo">
      </div>
    </div>
    <div class="col-6 tab-bar__menu">
      <nav>
        <ul>
          <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li>
            <a routerLink="/about" routerLinkActive="active">Sobre</a>
          </li>
          <li>
            <a routerLink="/trails" routerLinkActive="active">Trilhos</a>
          </li>
          <li>
            <a href="#">Experiências</a>
          </li>
          <li>
            <a href="#">Notícias</a>
          </li>
          <li>
            <a routerLink="/contact" routerLinkActive="active">Contato</a>
          </li>
          <!-- <li class="login-item">
            <a href="#">
              <span class="material-symbols-outlined">person</span> Login
            </a>
          </li> -->
        </ul>
      </nav>
    </div>
  </div>
</div>
