
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cavalum-primary: mat.define-palette(mat.$indigo-palette);
$cavalum-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cavalum-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cavalum-theme: mat.define-light-theme((
  color: (
    primary: $cavalum-primary,
    accent: $cavalum-accent,
    warn: $cavalum-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cavalum-theme);

@import './app/styles/abstracts/_variables';
@import './app/styles/components/_page';
@import './app/styles/components/_buttons';
@import './app/styles/components/_elements';
@import './app/styles/components/_card';

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html, body { height: 100%; }

span.material-symbols-outlined {
  vertical-align: middle;
}

/* ================ */

.form-group {
  padding-bottom: $form_spacing;
}

label {
  font-size: 13px;
  font-weight: 700;
}

.mat-mdc-unelevated-button:not(:disabled) {
  background-color: $green !important;
  color: white !important;
  border: 2px;
}

.mat-mdc-form-field {
  width: 100%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
  color: $green !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: inherit !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-color: $green !important;
}