@import '../../../styles/abstracts/_variables';

.know-more {
  text-align: center;
  margin-top: $sector_separator_padding;

  p.subtitle {
    padding: $gap $gap_sides_max;
  }

  &__topics {
    padding: 0 $gap_sides_max $gap;

    ul {
      list-style-type: none;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .know-more {

    h1 {
      padding: 0 40px !important;
    }

    .subtitle {
      padding: 20px 40px 0 !important;
    }

    &__topics {
      padding: 0 0 30px !important;

      ul {
        flex-direction: column !important;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .know-more {

    h1 {
      padding: 0 40px !important;
    }

    .subtitle {
      padding: 20px 40px 0 !important;
    }

    &__topics {
      padding: 0 0 30px !important;

      ul {
        flex-direction: column !important;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .know-more {

    &__topics {
      padding: 0 30px $gap;
    }
  }
}