<div class="know-more-wrapper">
    <h1>Fique por dentro</h1>
    <p class="subtitle">
      Mantenha-se atualizado sobre as últimas notícias e informações sobre o
      meio ambiente e a sustentabilidade. Clique aqui para ler mais.
    </p>
    <div class="know-more__topics">
      <ul>
        <li>
          <div class="know-more__icon">
            <app-man-walking-svg [size]="'75px'" />
          </div>
          Participe
        </li>
        <li>
          <div class="know-more__icon">
            <app-svg-medical-case [size]="'100px'" />
          </div>
          Contribua
        </li>
        <li>
          <div class="know-more__icon">
            <app-svg-man-child [size]="'100px'" />
          </div>
          Transforme
        </li>
        <li>
          <div class="know-more__icon">
            <app-svg-map [size]="'100px'" />
          </div>
          Seja a mudança
        </li>
      </ul>
    </div>
    <button mat-button class="button primary-black">Saiba como</button>
</div>
