@import '../../../styles/abstracts/_variables';

#gallery-wrapper {

  .gallery {

    &__title {
      text-align: center;
      padding-bottom: $gap;
    }

    &__photos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 4px;
      }

      .column {
        -ms-flex: 25%;
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
      }

      .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        cursor: pointer;
      }

      .column img:hover {
        opacity: 0.8;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .column {
    -ms-flex: 100% !important;
    flex: 100% !important;
    max-width: 100% !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .column {
    -ms-flex: 100% !important;
    flex: 100% !important;
    max-width: 100% !important;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (min-width: 768px) and (max-width: 800px) {
  .column {
    -ms-flex: 50% !important;
    flex: 50% !important;
    max-width: 50% !important;
  }
}